{% extends 'base.html.twig' %}

{% block title %}Exchange index{% endblock %}

{% block body %}
    <h1>Exchange index</h1>

<div class="table-responsive">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Lat</th>
                <th>Lon</th>
                <th>Money</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exchange in exchanges %}
            <tr>
                <td>{{ exchange.id }}</td>
                <td>{{ exchange.name }}</td>
                <td>{{ exchange.description }}</td>
                <td>{{ exchange.lat }}</td>
                <td>{{ exchange.lon }}</td>
                <td>{{ exchange.money }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('exchange_show', {'id': exchange.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('exchange_edit', {'id': exchange.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a class="btn btn-primary" href="{{ path('exchange_new') }}">Create new</a>
{% endblock %}
