{% extends 'base.html.twig' %}

{% block title %}Action index{% endblock %}

{% block body %}
<h1>Action index</h1>

<div class="table-responsive">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Origin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for action in actions %}
            <tr>
                <td>{{ action.id }}</td>
                <td>{{ action.actiontype.name }}</td>
                <td>{{ action.amount }}</td>
                <td>{{ action.origin.email }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('action_show', {'id': action.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('action_edit', {'id': action.id}) }}">edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a class="btn btn-secondary" href="{{ path('action_new') }}">Create new</a>
{% endblock %}
