{% extends 'base.html.twig' %}

{% block title %}Shop index{% endblock %}

{% block body %}
    <h1>Shop index</h1>

<div class="table-responsive">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Lat</th>
                <th>Lon</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shop in shops %}
            <tr>
                <td>{{ shop.id }}</td>
                <td>{{ shop.name }}</td>
                <td>{{ shop.description }}</td>
                <td>{{ shop.lat }}</td>
                <td>{{ shop.lon }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('shop_show', {'id': shop.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('shop_edit', {'id': shop.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a class="btn btn-secondary" href="{{ path('shop_new') }}">Create new</a>
{% endblock %}
